<div class="row">
	<div class=" col-md-9 col-md-offset-2 fourthrowBox">

		<div class="row fourthrowContent">

			<div class=" col-md-1">
				<img class="jumbotronpic" src="img/jumpbotronpic.PNG" />

			</div>

			<div class="col-md-5">
				<h3 class="fjallafont"> DONEC NEC JUSTO EGET</h3>
				<p class="latofont">"Eros pede semper est, vitae luctus metus libero eu augue.Morbo sipo commodo ..." <em>-Kohn Doe/company name</em></p>

			</div>

			<div class="col-md-4">
				<h3 class="fjallafont">MORBI VITAI</h3>
				<input type="text" class="inputbox form-control" placeholder="enter your email id here...">

			</div>

			<div class="col-md-1">
				<button type="button" class="fjallafont subscribebtn btn btn-default">Subscribe &#8680</button>

			</div>

		</div>
	</div>

</div>