<div class="row lastrowContent">

	<div class="col-md-offset-2 col-md-10 ">

		<div class="row">
			<div class="col-md-4">
				<h3 class="fjallafont">ALIQUAM TINCIDUNT</h3>
				<hr>
				<div class="row">
					<div class="col-md-4">
						<img class="secondRowicons" src="img/lastSecpic1.png" />
					</div>

					<div class="col-md-8">
						<p class="lastsecCont">Donec nec justo eget felis facilisis fermentum. Aliquam portitor<a> more =></a></p>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-4">
						<img class="secondRowicons" src="img/lastSecpic2.png" />
					</div>

					<div class="col-md-8">
						<p class="lastsecCont">Donec nec justo eget felis facilisis fermentum. Aliquam portitor<a> more =></a></p>
					</div>
				</div>

				<hr>
				<div class="row">
					<div class="col-md-4">
						<img class="secondRowicons" src="img/lastSecpic3.png" />
					</div>

					<div class="col-md-8">
						<p class="lastsecCont">Donec nec justo eget felis facilisis fermentum. Aliquam portitor<a> more =></a></p>
					</div>
				</div>
				<hr>
			</div>




			<div class="col-md-4 ">
				<h3 class="fjallafont">NUNC TINCIDUNT</h3>
				<div class="jumbotron jumbotronlastSec">
					<p>
						Sed egestas, ante et vulputate volutpat, eros peded adas asdf
					</p>
					<input type="text" class="lastInput form-control" placeholder="name">
					<br>
					<input type="email" class="lastInput form-control" placeholder="email">
					<br>
					<textarea class="lastInput form-control" placeholder="your query..." rows="5" ></textarea>
					<br>
					<button type="button" class="lastInput btn btn-danger">Send  &#8680</button>


				</div>
			</div>

			<div class="col-md-3 ">
				<h3 class="fjallafont">ALIQUAM TINCIDUNT</h3>
				<hr>
				<div class="row">
					<div class="col-md-2">
						<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
					</div>

					<div class="col-md-8">
						<h4 class="lastSecRedHead latofont"><b>Address</b></h4>
						<p class="lastsecCont">some block, city, state, country</p>
					</div>
				</div>
				<hr>

				<div class="row">
					<div class="col-md-2">
						<span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
					</div>

					<div class="col-md-8">
						<h4 class="lastSecRedHead latofont"><b>Phone</b></h4>
						<p class="lastsecCont">(000) 7777 7777 7777</p>
						<p class="lastsecCont">(000) 8888 8888 8888</p>

					</div>
				</div>
				<hr>


				<div class="row">
					<div class="col-md-2">
						<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
					</div>

					<div class="col-md-8">
						<h4 class="lastSecRedHead latofont"><b>Email us</b></h4>
						<p class="lastsecCont">info@sitename.com</p>
						<p class="lastsecCont">sales@sitename.com</p>
						<p class="lastsecCont">sales@sitename.com</p>


					</div>
				</div>
				<hr>

			</div>
		</div>
	</div>
</div>