<div class="row secondrow">

	<div class="col-md-offset-2 col-md-10">
		<div class="secondrowContent row">

			<div class="col-md-1">
				<img class="secondRowicons" src="img/secondRowIcon1.PNG" />
			</div>

			<div class="col-md-3">
				<h3 class="fjallafont">ALIQUAM TINCIDUNT</h3>
				<p class="latofont secondrowParaColor">Donec nec justo eget felis facilisis. <br> Aliquam porttitor
					mauris sit amet orci, Aenean dignissim pellentesq <a>=> more</a></p>
			</div>

			<div class="col-md-1">
				<img class="secondRowicons" src="img/secondRowIcon2.PNG" />
			</div>

			<div class="col-md-3">
				<h3 class="fjallafont">ALIQUAM TINCIDUNT</h3>
				<p class="latofont secondrowParaColor">Donec nec justo eget felis facilisis fermentum. Aliquam porttitor
					mauris sit amet orci, Aenean dignissim pellentesq <a>=> more</a></p>
			</div>

			<div class="col-md-1">
				<img class="secondRowicons" src="img/secondRowIcon3.PNG" />
			</div>

			<div class="col-md-3">
				<h3 class="fjallafont">VIMUAS TRISTIQUI</h3>
				<p class="latofont secondrowParaColor">Donec nec justo eget felis facilisis <br>. Aliquam porttitor
					mauris sit amet orci, Aenean dignissim pellentesq <a>=> more</a></p>
			</div>

		</div>
	</div>
</div>