
<div class="row ">

	<div class="thirdrowContent col-md-offset-2 col-md-5">
		<h3 class="fjallafont">DONEC NEC JUSTO EGET FELIS FACILISIS FERMENTUM. ALIQUAM PORTTITOR SIT AMET ORCI. AENEAN DIGNISSIM PELLENTESQUE FELIS</h3>
		<hr>
		<h3 class="latofont hrTextBtw">Civamus vestibulum nulla nec ante</h3>
		<hr>

		<div class="row">
			<div class=" col-md-6">
				<h4 class="latofont"><b>Sed egestas anteet</b></h4>
				<p>
					Eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus
					adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit totor.
					Ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.
				</p>

				<button type="button" class="btn btn-danger lastInput">More</button>
			</div>

			<div class="col-md-6">
				<h4 class="latofont"><b>Sed egestas anteet</b></h4>
				<p>Eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus
					adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit totor.
					Ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl.</p>
				<button type="button" class="btn btn-danger lastInput ">More</button>


			</div>
		</div>
	</div>

	<div class="col-md-offset-1 col-md-5 thirdrowImage">
		<img src="img/roundedPic.jpg" class="img-circle" alt="Cinque Terre" >

	</div>
</div>